body
  margin 0
  font-family -apple-system, 'Helvetica Neue', sans-serif //, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans'
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*, *::before, *::after
  box-sizing border-box

code
  font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

ul
  margin 0
  border 0
  padding 0

li
  list-style none

a, button
  cursor pointer

button
  border 0

  &:focus
    outline 0

svg
  width 100%
  height 100%