.meta
  display flex
  flex-direction column
  padding-bottom 40px

  .info
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex 1
    height 100%

    h5.title
      font-size 20px

  ul.attrs
    border-top 1px solid #ccc
    flex 0

    li.attr-item
      display flex
      padding 4px 8px
      justify-content space-between

      span.attr__key, span.attr__val
        font-size 16px
