body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dd {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

a:focus, input:focus, button:focus {
  outline: 0;
}

a, a:visited, a:focus, a:hover, a:active, a:focus:active {
  color: #37abe7;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  border-radius: 4px;
  padding: 4px 8px;
}

button {
  background-color: transparent;
}

.btn
  border-radius 4px
  background transparent

  &:hover
    color #eee
    background-color #aaa
